body{
    font-family: 'Poppins', sans-serif;
    margin: 0mm;
}
h1{
    font-size:50px;
}
.highlight{
    color: rgb(21, 219, 104);
}
.style-1{
    font-size: 20px;
    font-style: inherit;
    color: lightcoral;
}
.first-pera{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    padding-right: 2%;
}
.first-pera img{
width: 95%;

}
.Top-side-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 510px;
}